[alias]
	ch = checkout
	br = branch
	ci = commit
	cm = commit -am
	st = status
	last = log -1 HEAD
	lg = log --oneline --no-merges
	visual = !gitk
	pull = pull --all --prune
	push = push -u origin HEAD
	destroy = reset HEAD --hard
	diff-br = diff --shortstat develop..HEAD
	brename = branch -m
[pull]
	rebase = true
[merge]
	tool = default-difftool
[diff]
    	tool = default-difftool
    	prompt = false
[difftool "default-difftool"]
    	cmd = code --wait --diff $LOCAL $REMOTE
    	prompt = false
[user]
	name = Giuliana Taylor
[core]
	excludesfile = C:/Users/giulianat/.gitignore
[push]
	default = current
[rebase]
	autoStash = true
