[alias]
	ch = checkout
	br = branch
	ci = commit
	cm = commit -am
	st = status
	last = log -1 HEAD
	lg = log --oneline --no-merges
	visual = !gitk
	pull = fetch --all --prune && git pull --all
	push = push -u origin HEAD
	destroy = reset HEAD --hard
	diff-br = diff --shortstat develop..HEAD
	brename = branch -m
[pull]
	rebase = true
[merge]
	tool = vsdiffmerge
[diff]
	prompt = false
[difftool]
	prompt = false
[user]
	name = Giuliana Taylor
[core]
	excludesfile = C:/Users/giulianat/.gitignore
[push]
	default = current
[rebase]
	autoStash = true
